@import "tailwindcss";

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500 800;
  font-display: swap;
  src: url("/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --color-Orange: #D87D4A;
  --color-Soft-Orange: #fbaf85;
  --color-Gray: #F1F1F1;
  --color-Dark-Gray: #101010;
  --color-Soft-Gray: #FAFAFA;

  --font-Manrope: 'Manrope';
}

body {
  font-family: var(--font-Manrope), Arial, Helvetica, sans-serif;
  color: var(--color-Soft-Gray);
}
