@import "tailwindcss";

@font-face {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500 800;
  font-display: swap;
  src: url("/assets/fonts/Manrope/Manrope-VariableFont_wght.ttf") format("woff2");
}

@theme {
  --color-Orange: #D87D4A;
  --color-Soft-Orange: #fbaf85;
  --color-Gray: #F1F1F1;
  --color-Dark-Gray: #101010;
  --color-Soft-Gray: #FAFAFA;

  --font-Manrope: 'Manrope';
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  font-family: var(--font-Manrope), Arial, Helvetica, sans-serif;
}
